<a href="https://colab.research.google.com/github/lattehauma/-/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

df=sns.load_dataset('titanic')
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

**csv일 경우 파일 가져오는 방법**

pd.read_csv(''.decode('utf-8')) - 한국어일 때
****
pd.read_csv('',usecols=[])

(연습용) 열 필터 걸어서 가져오기

In [ ]:
dfint=df.select_dtypes(include=['int'])
#int(정수), number(숫자), object(순서없는범주), category(범주), datetime(시간)
dfint.head(5)

   class deck
0  Third  NaN
1  First    C
2  Third  NaN
3  First    C
4  Third  NaN

(연습용) 복수열 가져오기

In [ ]:
collist=['survived','pclass','age']
dflist=df[collist]
#df=pd.read_csv('', usecols=collist)
print(dflist.head(5))


##열 이름을 이용하는 방법
dfar=df.filter(like='ar')
print(dfar.head(5))
dfe=df.filter(regex='e$')
print(dfe.head(5))

   survived  pclass   age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0
   parch     fare embarked  embark_town
0      0   7.2500        S  Southampton
1      0  71.2833        C    Cherbourg
2      0   7.9250        S  Southampton
3      0  53.1000        S  Southampton
4      0   8.0500        S  Southampton
    age     fare  adult_male alive  alone
0  22.0   7.2500        True    no  False
1  38.0  71.2833       False   yes  False
2  26.0   7.9250       False   yes   True
3  35.0  53.1000       False   yes  False
4  35.0   8.0500        True    no   True

변수분석

In [ ]:
age=df['age']
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

열, 행 이름 다시 짓기

In [ ]:
idx_rename={0:'first'}
df_renamed=df.rename(index=idx_rename)
#행이름은 columns=으로 변경
df_renamed.head(5)

       survived  pclass     sex   age  ...  deck  embark_town  alive  alone
first         0       3    male  22.0  ...   NaN  Southampton     no  False
1             1       1  female  38.0  ...     C    Cherbourg    yes  False
2             1       3  female  26.0  ...   NaN  Southampton    yes   True
3             1       1  female  35.0  ...     C  Southampton    yes  False
4             0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

데이터 타입 변경하기

In [ ]:
print(df['age'].describe())
df.astype({'age':'int'})
#df.['age'].astype(int)

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [ ]:
#더미 변수를 삭제
dfdrop=pd.get_dummies(df,drop_first=True)
print(dfdrop.head(10))
#매핑
dfmap=df
map_sex={'male':0,'female':1}
col=['sex']
dfmap[col]=dfmap[col].applymap(map_sex.get)
print(dfmap.head(5))

   survived  pclass  ...  embark_town_Southampton  alive_yes
0         0       3  ...                        1          0
1         1       1  ...                        0          1
2         1       3  ...                        1          1
3         1       1  ...                        1          1
4         0       3  ...                        1          0
5         0       3  ...                        0          0
6         0       1  ...                        1          0
7         0       3  ...                        1          0
8         1       3  ...                        1          1
9         1       2  ...                        0          1

[10 rows x 24 columns]
   survived  pclass  sex   age  ...  deck  embark_town  alive  alone
0         0       3    0  22.0  ...   NaN  Southampton     no  False
1         1       1    1  38.0  ...     C    Cherbourg    yes  False
2         1       3    1  26.0  ...   NaN  Southampton    yes   True
3         1       1    1  35.0  ...     C  Southampton    yes  False
4         0       3    0  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

## 데이터프레임 생성, 합성

In [ ]:
data={
    'age':[30,23,26],
    'sex':['M','W','M'],
    'height':[178,162,172]
}
inname=['사','시','세']

df1=pd.DataFrame(data, index=inname)
df1

   age sex  height
사   30   M     178
시   23   W     162
세   26   M     172

In [ ]:
inname2=['세','수','소']
col=['weight','grade','age']
df2=pd.DataFrame([[61,1,26],[49,2,24],[58,1,18]],index=inname2, columns=col)
df2

   weight  grade  age
세      61      1   26
수      49      2   24
소      58      1   18

결합과 분리

concat : 열 중심

In [ ]:
dfa=pd.concat([df1,df2])
#df1.append(df2)
print(dfa)
dfb=pd.concat([df1,df2],ignore_index=True)
print(dfb)
dfc=pd.concat([df1,df2],axis=1)
print(dfc)
dfd=pd.concat([df1,df2],join='inner')
print(dfd)

   age  sex  height  weight  grade
사   30    M   178.0     NaN    NaN
시   23    W   162.0     NaN    NaN
세   26    M   172.0     NaN    NaN
세   26  NaN     NaN    61.0    1.0
수   24  NaN     NaN    49.0    2.0
소   18  NaN     NaN    58.0    1.0
   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0     NaN    NaN
3   26  NaN     NaN    61.0    1.0
4   24  NaN     NaN    49.0    2.0
5   18  NaN     NaN    58.0    1.0
    age  sex  height  weight  grade   age
사  30.0    M   178.0     NaN    NaN   NaN
시  23.0    W   162.0     NaN    NaN   NaN
세  26.0    M   172.0    61.0    1.0  26.0
수   NaN  NaN     NaN    49.0    2.0  24.0
소   NaN  NaN     NaN    58.0    1.0  18.0
   age
사   30
시   23
세   26
세   26
수   24
소   18
          age  sex  height  weight  grade
age    사   30    M   178.0     NaN    NaN
       시   23    W   162.0     NaN    NaN
       세   26    M   172.0     NaN    NaN
height 세   26  NaN     NaN    61.0    1.0
       수   24  NaN     NaN    49.0    2.0
       소   18  NaN     NaN    58.0    1.0

merge :  행 중심(인덱스)

In [ ]:
dfaa=pd.merge(df1,df2, how='outer') ##outer, left, right, inner
print(dfaa)
dfbb=pd.merge(df1,df2, how='left')
print(dfbb)
dfcc=pd.merge(df1,df2, on='age')
#키를 기준으로 데이터 병합, 키는 리스트가 될 수도 있음 on=['','']
print(dfcc)

   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0    61.0    1.0
3   24  NaN     NaN    49.0    2.0
4   18  NaN     NaN    58.0    1.0
   age sex  height  weight  grade
0   30   M     178     NaN    NaN
1   23   W     162     NaN    NaN
2   26   M     172    61.0    1.0
   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0    61.0    1.0
3   24  NaN     NaN    49.0    2.0
4   18  NaN     NaN    58.0    1.0

In [ ]:
#동일한 정보가진 열을 제거하기
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ac = pd.DataFrame({'a_': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})
print(pd.merge(df_ab, df_ac, left_on='a', right_on='a_'))
print(pd.merge(df_ab, df_ac, left_on='a', right_on='a_').drop('a_',axis=1))

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2
     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

join 인덱스를 기준으로 병합

In [ ]:
df_ab.join(df_ac)

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2
2  a_3  b_3  a_4  c_4

In [ ]:
print(df1)
print(df1.drop('weight1',axis=1))

   age sex  height  weight1
사   30   M     178       47
시   23   W     162       56
세   26   M     172       62
   age sex  height
사   30   M     178
시   23   W     162
세   26   M     172

In [ ]:
df3=pd.DataFrame({'age':[[1,2],1,2,3],'weight':[53,62,42,21]})
print(df3)
print(df3.explode('age'))

      age  weight
0  [1, 2]      53
1       1      62
2       2      42
3       3      21
  age  weight
0   1      53
0   2      53
1   1      62
2   2      42
3   3      21

##표 생성하기/형태 변형

pivot

In [ ]:
ta1=pd.pivot_table(df,values='fare', index='sex',columns='pclass') #기본은 평균
print(ta1)
print(pd.pivot_table(df,
    values='fare', index='sex',columns='pclass', aggfunc='median'
))

pclass           1          2          3
sex
female  106.125798  21.970121  16.118810
male     67.226127  19.741782  12.661633
pclass         1     2       3
sex
female  82.66455  22.0  12.475
male    41.26250  13.0   7.925

stack

In [ ]:
st=ta1.stack()
print(st)
st.unstack()
st.loc[('female',2)]

sex     pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
dtype: float64

21.97012105263158

melt(*고정할 열을 설정해 줌)

In [ ]:
print(df1)
pd.melt(df1, id_vars=['age','sex'], var_name='group', value_name='수치')

   age sex  height  weight1
사   30   M     178       47
시   23   W     162       56
세   26   M     172       62

   age sex    group   수치
0   30   M   height  178
1   23   W   height  162
2   26   M   height  172
3   30   M  weight1   47
4   23   W  weight1   56
5   26   M  weight1   62

split

In [ ]:
df4=pd.DataFrame({'name':['se iz','sa ri','mo chi']})
spl=df4.name.str.split(' ')
df4['name1']=spl.str.get(0)
df4['name2']=spl.str.get(1)
df4

     name name1 name2
0   se iz    se    iz
1   sa ri    sa    ri
2  mo chi    mo   chi

##데이터연산

In [ ]:
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
df['fare']*24

0       174.0000
1      1710.7992
2       190.2000
3      1274.4000
4       193.2000
         ...
886     312.0000
887     720.0000
888     562.8000
889     720.0000
890     186.0000
Name: fare, Length: 891, dtype: float64

In [ ]:
#누락값 개수 확인
print(np.count_nonzero(df['deck'].isnull()))
df['deck'].isnull()

688

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: deck, Length: 891, dtype: bool

In [ ]:
#누락값 채우기
#누락값: np.nan
df5=df
df5['deck']=df['deck'].fillna(method='pad')
#값, pad, ffill(이전),bfill, backfill(이후)
df5['deck'].head(10)

0    NaN
1      C
2      C
3      C
4      C
5      C
6      E
7      E
8      E
9      E
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

누락값 제거

In [ ]:
print(df['deck'].dropna()) #열 기준으로 하려면 axis=1
#how='all' 모든 값이 결측값인 행
#thresh=2 결측값이 2 이상인 행

1      C
3      C
6      E
10     G
11     C
      ..
871    D
872    B
879    C
887    B
889    C
Name: deck, Length: 203, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

누락값 연산

In [ ]:
df6 = pd.DataFrame({'X': [1,None,3,4,5], 
                   'Y': [1, None, 3,None,5], 
                   'Z': [3,4,5,6,3]})
print(df6)
df6.sum(skipna=True)

     X    Y  Z
0  1.0  1.0  3
1  NaN  NaN  4
2  3.0  3.0  5
3  4.0  NaN  6
4  5.0  5.0  3

X    13.0
Y     9.0
Z    21.0
dtype: float64

필터

In [ ]:
filter1=df['pclass']==1
filter2=df['age']>=30
df.where(filter1&filter2,inplace=True)
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive alone
0       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN
1       1.0     1.0  female  38.0  ...     C    Cherbourg    yes   0.0
2       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN
3       1.0     1.0  female  35.0  ...     C  Southampton    yes   0.0
4       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN

[5 rows x 15 columns]

함수를 데이터셋에 적용하는 방법

In [5]:
z=lambda x: (x-min(x))/(max(x)-min(x))
df7=df
df7['fare']=df['fare'].transform(z)
print(df['fare'].head(5))

0    0.014151
1    0.139136
2    0.015469
3    0.103644
4    0.015713
Name: fare, dtype: float64

In [14]:
dfnum=df[['age','fare']]
print(dfnum.head(5))
def my_z(x):
  return((x-x.mean())/x.std())
dfnum.apply(my_z)

    age      fare
0  22.0  0.014151
1  38.0  0.139136
2  26.0  0.015469
3  35.0  0.103644
4  35.0  0.015713

          age      fare
0   -0.530005 -0.502163
1    0.571430  0.786404
2   -0.254646 -0.488580
3    0.364911  0.420494
4    0.364911 -0.486064
..        ...       ...
886 -0.185807 -0.386454
887 -0.736524 -0.044356
888       NaN -0.176164
889 -0.254646 -0.044356
890  0.158392 -0.492101

[891 rows x 2 columns]

그룹화로 연산하기
____________
*count(누락값 제외) *size(누락값 포함) *sem 표준편차 *describe (기초통계);

*   first(첫번째 행)
*   last(마지막 행)

In [95]:
gdf=df.groupby('pclass')
print(gdf.mean())
df.groupby(['pclass','sex'])[['age','fare']].mean()

        survived        age     sibsp     parch      fare  adult_male     alone
pclass
1       0.629630  38.233441  0.416667  0.356481  0.164259    0.550926  0.504630
2       0.472826  29.877630  0.402174  0.380435  0.040330    0.538043  0.565217
3       0.242363  25.140620  0.615071  0.393075  0.026693    0.649695  0.659878

                     age      fare
pclass sex
1      female  34.611765  0.207144
       male    41.281386  0.131217
2      female  28.722973  0.042883
       male    30.740707  0.038533
3      female  21.750000  0.031462
       male    26.507589  0.024714

In [94]:
df.embarked.value_counts().to_frame().style.background_gradient(cmap='summer')
#뒤에는 디자인 사족

In [25]:
#agg함수 활용
print(gdf['age'].agg(['median','max']))
print('\n')
print(gdf.agg({'fare':['min','max'], 'age':'mean'}))

        median   max
pclass
1         37.0  80.0
2         29.0  70.0
3         24.0  74.0


       fare                  age
        min       max       mean
pclass
1       0.0  1.000000  38.233441
2       0.0  0.143462  29.877630
3       0.0  0.135753  25.140620

그룹으로 나눠서 함수 적용

In [32]:
tips=sns.load_dataset('tips')
tips.head()
def fill_na_mean(x):	#평균을 구하는 함수
	avg = x.mean()
	return x.fillna(avg)
a = tips.groupby('sex').total_bill.transform(fill_na_mean)
tips['fill_total_bill']= a
tips.head(20)

    total_bill   tip     sex smoker  day    time  size  fill_total_bill
0        16.99  1.01  Female     No  Sun  Dinner     2            16.99
1        10.34  1.66    Male     No  Sun  Dinner     3            10.34
2        21.01  3.50    Male     No  Sun  Dinner     3            21.01
3        23.68  3.31    Male     No  Sun  Dinner     2            23.68
4        24.59  3.61  Female     No  Sun  Dinner     4            24.59
5        25.29  4.71    Male     No  Sun  Dinner     4            25.29
6         8.77  2.00    Male     No  Sun  Dinner     2             8.77
7        26.88  3.12    Male     No  Sun  Dinner     4            26.88
8        15.04  1.96    Male     No  Sun  Dinner     2            15.04
9        14.78  3.23    Male     No  Sun  Dinner     2            14.78
10       10.27  1.71    Male     No  Sun  Dinner     2            10.27
11       35.26  5.00  Female     No  Sun  Dinner     4            35.26
12       15.42  1.57    Male     No  Sun  Dinner     2            15.42
13       18.43  3.00    Male     No  Sun  Dinner     4            18.43
14       14.83  3.02  Female     No  Sun  Dinner     2            14.83
15       21.58  3.92    Male     No  Sun  Dinner     2            21.58
16       10.33  1.67  Female     No  Sun  Dinner     3            10.33
17       16.29  3.71    Male     No  Sun  Dinner     3            16.29
18       16.97  3.50  Female     No  Sun  Dinner     3            16.97
19       20.65  3.35    Male     No  Sat  Dinner     3            20.65

In [39]:
#해당값의 그룹만 추출하기
gdf.get_group(1).reset_index().head(7)
#reset_index 인덱스를 새로 설정함

   index  survived  pclass     sex  ...  deck  embark_town  alive  alone
0      1         1       1  female  ...     C    Cherbourg    yes  False
1      3         1       1  female  ...     C  Southampton    yes  False
2      6         0       1    male  ...     E  Southampton     no   True
3     11         1       1  female  ...     C  Southampton    yes   True
4     23         1       1    male  ...     A  Southampton    yes   True
5     27         0       1    male  ...     C  Southampton     no  False
6     30         0       1    male  ...   NaN    Cherbourg     no   True

[7 rows x 16 columns]

## 데이터의 분석

In [46]:
print(df.shape)
print(df.info())
print(df.describe().T)

(891, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None
          count       mean        std  ...        50%        75%   max
survived  891.0   0.383838   0.486592  ...   0.000000   1.000000   1.0
pclass    891.0   2.308642   0.836071  ...   3.000000   3.000000   3.0
age       714.0  29.699118  14.526497  ...  28.000000  38.000000  80.0
sibsp     891.0   0.523008   1.102743  ...   0.000000   1.000000   8.0
parch     891.0   0.381594   0.806057  ...   0.000000   0.000000   6.0
fare      891.0   0.062858   0.096995  ...   0.028213   0.060508   1.0

[6 rows x 8 columns]

ex) 나이가 가장 어린 5명 중에서 소득이 높은 5명

In [47]:
df.nsmallest(10,'age').nlargest(5,'fare')

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
305         1       1    male  0.92  ...     C  Southampton    yes  False
164         0       3    male  1.00  ...   NaN  Southampton     no  False
183         1       2    male  1.00  ...     F  Southampton    yes  False
78          1       2    male  0.83  ...   NaN  Southampton    yes  False
469         1       3  female  0.75  ...   NaN    Cherbourg    yes  False

[5 rows x 15 columns]

정렬

In [49]:
df9=df.sort_values(['age','fare'],ascending=False) #내림차순 정렬
df9.head()

     survived  pclass   sex   age  ...  deck  embark_town  alive alone
630         1       1  male  80.0  ...     A  Southampton    yes  True
851         0       3  male  74.0  ...   NaN  Southampton     no  True
493         0       1  male  71.0  ...   NaN    Cherbourg     no  True
96          0       1  male  71.0  ...     A    Cherbourg     no  True
116         0       3  male  70.5  ...   NaN   Queenstown     no  True

[5 rows x 15 columns]

In [102]:
print(df.embark_town.unique())
print(df['embark_town'].value_counts())
print(df['embark_town'].value_counts(normalize=True, dropna=False))
#중복된 값 제외하고 리스트 뽑기

['Southampton' 'Cherbourg' 'Queenstown' nan]
Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64
Southampton    0.722783
Cherbourg      0.188552
Queenstown     0.086420
NaN            0.002245
Name: embark_town, dtype: float64

In [55]:
df[(df.embarked=='S')&(df.alone==False)&(df.who=='child')&~(df.fare>=0.05)].head()
#아니다는 ~로 표시

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
7           0       3    male  2.0  ...   NaN  Southampton     no  False
10          1       3  female  4.0  ...     G  Southampton    yes  False
24          0       3  female  8.0  ...   NaN  Southampton     no  False
165         1       3    male  9.0  ...   NaN  Southampton    yes  False
172         1       3  female  1.0  ...   NaN  Southampton    yes  False

[5 rows x 15 columns]

sidetable

In [106]:
!pip install sidetable

import sidetable

Requirement already satisfied: sidetable in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)

In [113]:
print(df.stb.freq(['pclass']))  ##value='열이름'으로 계산이 되는 기준 변수를 설정할 수 있음
print(df.stb.missing())

   pclass  count    percent  cumulative_count  cumulative_percent
0       3    491  55.106622               491           55.106622
1       1    216  24.242424               707           79.349046
2       2    184  20.650954               891          100.000000
             missing  total    percent
deck             688    891  77.216611
age              177    891  19.865320
embarked           2    891   0.224467
embark_town        2    891   0.224467
survived           0    891   0.000000
pclass             0    891   0.000000
sex                0    891   0.000000
sibsp              0    891   0.000000
parch              0    891   0.000000
fare               0    891   0.000000
class              0    891   0.000000
who                0    891   0.000000
adult_male         0    891   0.000000
alive              0    891   0.000000
alone              0    891   0.000000

##데이터의 부분집합

인덱스 넘버로 확인

In [66]:
print(tips.head())
tips.iloc[[6,10,7]]
tips.iloc[0:6:2,:] #두칸씩 뛰면서

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
2       21.01  3.50    Male     No  Sun  Dinner     3
4       24.59  3.61  Female     No  Sun  Dinner     4

인덱스의 이름으로 확인

In [70]:
tips.loc[[0,6]]
tips.loc[:,['sex','smoker']].head()

      sex smoker
0  Female     No
1    Male     No
2    Male     No
3    Male     No
4  Female     No

In [73]:
tips.loc[tips['total_bill']<=15,'bill_band']='A'
tips.head(10)

   total_bill   tip     sex smoker  day    time  size bill_band
0       16.99  1.01  Female     No  Sun  Dinner     2       NaN
1       10.34  1.66    Male     No  Sun  Dinner     3         A
2       21.01  3.50    Male     No  Sun  Dinner     3       NaN
3       23.68  3.31    Male     No  Sun  Dinner     2       NaN
4       24.59  3.61  Female     No  Sun  Dinner     4       NaN
5       25.29  4.71    Male     No  Sun  Dinner     4       NaN
6        8.77  2.00    Male     No  Sun  Dinner     2         A
7       26.88  3.12    Male     No  Sun  Dinner     4       NaN
8       15.04  1.96    Male     No  Sun  Dinner     2       NaN
9       14.78  3.23    Male     No  Sun  Dinner     2         A

카테고리 분류하기

In [75]:
tips1['total_bill'].describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

In [80]:
tips1=tips
tips1['bill_band']=0
tips1['bill_band']=pd.cut(tips1.total_bill,bins=[0,15,25,35],labels=['A','B','C'])
tips1['bill_band2']=0
tips1['bill_band2']=pd.qcut(tips1.total_bill, q=5, labels=['A','B','C','D','E'])
tips1.head(10)

   total_bill   tip     sex smoker  day    time  size bill_band bill_band2
0       16.99  1.01  Female     No  Sun  Dinner     2         B          C
1       10.34  1.66    Male     No  Sun  Dinner     3         A          A
2       21.01  3.50    Male     No  Sun  Dinner     3         B          D
3       23.68  3.31    Male     No  Sun  Dinner     2         B          D
4       24.59  3.61  Female     No  Sun  Dinner     4         B          D
5       25.29  4.71    Male     No  Sun  Dinner     4         C          D
6        8.77  2.00    Male     No  Sun  Dinner     2         A          A
7       26.88  3.12    Male     No  Sun  Dinner     4         C          E
8       15.04  1.96    Male     No  Sun  Dinner     2         B          B
9       14.78  3.23    Male     No  Sun  Dinner     2         A          B

In [83]:
tips1.loc[::-1].reset_index(drop=True)

     total_bill   tip     sex smoker   day    time  size bill_band bill_band2
0         18.78  3.00  Female     No  Thur  Dinner     2         B          C
1         17.82  1.75    Male     No   Sat  Dinner     2         B          C
2         22.67  2.00    Male    Yes   Sat  Dinner     2         B          D
3         27.18  2.00  Female    Yes   Sat  Dinner     2         C          E
4         29.03  5.92    Male     No   Sat  Dinner     3         C          E
..          ...   ...     ...    ...   ...     ...   ...       ...        ...
239       24.59  3.61  Female     No   Sun  Dinner     4         B          D
240       23.68  3.31    Male     No   Sun  Dinner     2         B          D
241       21.01  3.50    Male     No   Sun  Dinner     3         B          D
242       10.34  1.66    Male     No   Sun  Dinner     3         A          A
243       16.99  1.01  Female     No   Sun  Dinner     2         B          C

[244 rows x 9 columns]

기술통계

In [86]:
 a='I Am Happy'
 print(a.lower())
 print(len(a))
 print(a.strip())

i am happy
10
I Am Happy