<a href="https://colab.research.google.com/github/lattehauma/-/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
import seaborn as sns
import pandas as pd
import numpy as np

df=sns.load_dataset('titanic')
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

**csv일 경우 파일 가져오는 방법**

pd.read_csv(''.decode('utf-8')) - 한국어일 때
****
pd.read_csv('',usecols=[])

(연습용) 열 필터 걸어서 가져오기

In [ ]:
dfint=df.select_dtypes(include=['int'])
#int(정수), number(숫자), object(순서없는범주), category(범주), datetime(시간)
dfint.head(5)

   class deck
0  Third  NaN
1  First    C
2  Third  NaN
3  First    C
4  Third  NaN

(연습용) 복수열 가져오기

In [ ]:
collist=['survived','pclass','age']
dflist=df[collist]
#df=pd.read_csv('', usecols=collist)
print(dflist.head(5))


##열 이름을 이용하는 방법
dfar=df.filter(like='ar')
print(dfar.head(5))
dfe=df.filter(regex='e$')
print(dfe.head(5))

   survived  pclass   age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0
   parch     fare embarked  embark_town
0      0   7.2500        S  Southampton
1      0  71.2833        C    Cherbourg
2      0   7.9250        S  Southampton
3      0  53.1000        S  Southampton
4      0   8.0500        S  Southampton
    age     fare  adult_male alive  alone
0  22.0   7.2500        True    no  False
1  38.0  71.2833       False   yes  False
2  26.0   7.9250       False   yes   True
3  35.0  53.1000       False   yes  False
4  35.0   8.0500        True    no   True

변수분석

In [ ]:
age=df['age']
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

열, 행 이름 다시 짓기

In [ ]:
idx_rename={0:'first'}
df_renamed=df.rename(index=idx_rename)
#행이름은 columns=으로 변경
df_renamed.head(5)

       survived  pclass     sex   age  ...  deck  embark_town  alive  alone
first         0       3    male  22.0  ...   NaN  Southampton     no  False
1             1       1  female  38.0  ...     C    Cherbourg    yes  False
2             1       3  female  26.0  ...   NaN  Southampton    yes   True
3             1       1  female  35.0  ...     C  Southampton    yes  False
4             0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

데이터 타입 변경하기

In [ ]:
print(df['age'].describe())
df.astype({'age':'int'})
#df.['age'].astype(int)

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [ ]:
#더미 변수를 삭제
dfdrop=pd.get_dummies(df,drop_first=True)
print(dfdrop.head(10))
#매핑
dfmap=df
map_sex={'male':0,'female':1}
col=['sex']
dfmap[col]=dfmap[col].applymap(map_sex.get)
print(dfmap.head(5))

   survived  pclass  ...  embark_town_Southampton  alive_yes
0         0       3  ...                        1          0
1         1       1  ...                        0          1
2         1       3  ...                        1          1
3         1       1  ...                        1          1
4         0       3  ...                        1          0
5         0       3  ...                        0          0
6         0       1  ...                        1          0
7         0       3  ...                        1          0
8         1       3  ...                        1          1
9         1       2  ...                        0          1

[10 rows x 24 columns]
   survived  pclass  sex   age  ...  deck  embark_town  alive  alone
0         0       3    0  22.0  ...   NaN  Southampton     no  False
1         1       1    1  38.0  ...     C    Cherbourg    yes  False
2         1       3    1  26.0  ...   NaN  Southampton    yes   True
3         1       1    1  35.0  ...     C  Southampton    yes  False
4         0       3    0  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

## 데이터프레임 생성, 합성

In [37]:
data={
    'age':[30,23,26],
    'sex':['M','W','M'],
    'height':[178,162,172]
}
inname=['사','시','세']

df1=pd.DataFrame(data, index=inname)
df1

   age sex  height
사   30   M     178
시   23   W     162
세   26   M     172

In [4]:
inname2=['세','수','소']
col=['weight','grade','age']
df2=pd.DataFrame([[61,1,26],[49,2,24],[58,1,18]],index=inname2, columns=col)
df2

   weight  grade  age
세      61      1   26
수      49      2   24
소      58      1   18

결합과 분리

concat : 열 중심

In [ ]:
dfa=pd.concat([df1,df2])
#df1.append(df2)
print(dfa)
dfb=pd.concat([df1,df2],ignore_index=True)
print(dfb)
dfc=pd.concat([df1,df2],axis=1)
print(dfc)
dfd=pd.concat([df1,df2],join='inner')
print(dfd)

   age  sex  height  weight  grade
사   30    M   178.0     NaN    NaN
시   23    W   162.0     NaN    NaN
세   26    M   172.0     NaN    NaN
세   26  NaN     NaN    61.0    1.0
수   24  NaN     NaN    49.0    2.0
소   18  NaN     NaN    58.0    1.0
   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0     NaN    NaN
3   26  NaN     NaN    61.0    1.0
4   24  NaN     NaN    49.0    2.0
5   18  NaN     NaN    58.0    1.0
    age  sex  height  weight  grade   age
사  30.0    M   178.0     NaN    NaN   NaN
시  23.0    W   162.0     NaN    NaN   NaN
세  26.0    M   172.0    61.0    1.0  26.0
수   NaN  NaN     NaN    49.0    2.0  24.0
소   NaN  NaN     NaN    58.0    1.0  18.0
   age
사   30
시   23
세   26
세   26
수   24
소   18
          age  sex  height  weight  grade
age    사   30    M   178.0     NaN    NaN
       시   23    W   162.0     NaN    NaN
       세   26    M   172.0     NaN    NaN
height 세   26  NaN     NaN    61.0    1.0
       수   24  NaN     NaN    49.0    2.0
       소   18  NaN     NaN    58.0    1.0

merge :  행 중심(인덱스)

In [11]:
dfaa=pd.merge(df1,df2, how='outer') ##outer, left, right, inner
print(dfaa)
dfbb=pd.merge(df1,df2, how='left')
print(dfbb)
dfcc=pd.merge(df1,df2, on='age')
#키를 기준으로 데이터 병합, 키는 리스트가 될 수도 있음 on=['','']
print(dfcc)

   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0    61.0    1.0
3   24  NaN     NaN    49.0    2.0
4   18  NaN     NaN    58.0    1.0
   age sex  height  weight  grade
0   30   M     178     NaN    NaN
1   23   W     162     NaN    NaN
2   26   M     172    61.0    1.0
   age  sex  height  weight  grade
0   30    M   178.0     NaN    NaN
1   23    W   162.0     NaN    NaN
2   26    M   172.0    61.0    1.0
3   24  NaN     NaN    49.0    2.0
4   18  NaN     NaN    58.0    1.0

In [51]:
#동일한 정보가진 열을 제거하기
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ac = pd.DataFrame({'a_': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})
print(pd.merge(df_ab, df_ac, left_on='a', right_on='a_'))
print(pd.merge(df_ab, df_ac, left_on='a', right_on='a_').drop('a_',axis=1))

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2
     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

join 인덱스를 기준으로 병합

In [56]:
df_ab.join(df_ac)

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2
2  a_3  b_3  a_4  c_4

In [60]:
print(df1)
print(df1.drop('weight1',axis=1))

   age sex  height  weight1
사   30   M     178       47
시   23   W     162       56
세   26   M     172       62
   age sex  height
사   30   M     178
시   23   W     162
세   26   M     172

In [73]:
df3=pd.DataFrame({'age':[[1,2],1,2,3],'weight':[53,62,42,21]})
print(df3)
print(df3.explode('age'))

      age  weight
0  [1, 2]      53
1       1      62
2       2      42
3       3      21
  age  weight
0   1      53
0   2      53
1   1      62
2   2      42
3   3      21

##표 생성하기/형태 변형

pivot

In [82]:
ta1=pd.pivot_table(df,values='fare', index='sex',columns='pclass') #기본은 평균
print(ta1)
print(pd.pivot_table(df,
    values='fare', index='sex',columns='pclass', aggfunc='median'
))

pclass           1          2          3
sex
female  106.125798  21.970121  16.118810
male     67.226127  19.741782  12.661633
pclass         1     2       3
sex
female  82.66455  22.0  12.475
male    41.26250  13.0   7.925

stack

In [88]:
st=ta1.stack()
print(st)
st.unstack()
st.loc[('female',2)]

sex     pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
dtype: float64

21.97012105263158

melt(*고정할 열을 설정해 줌)

In [94]:
print(df1)
pd.melt(df1, id_vars=['age','sex'], var_name='group', value_name='수치')

   age sex  height  weight1
사   30   M     178       47
시   23   W     162       56
세   26   M     172       62

   age sex    group   수치
0   30   M   height  178
1   23   W   height  162
2   26   M   height  172
3   30   M  weight1   47
4   23   W  weight1   56
5   26   M  weight1   62

split

In [103]:
df4=pd.DataFrame({'name':['se iz','sa ri','mo chi']})
spl=df4.name.str.split(' ')
df4['name1']=spl.str.get(0)
df4['name2']=spl.str.get(1)
df4

     name name1 name2
0   se iz    se    iz
1   sa ri    sa    ri
2  mo chi    mo   chi

##데이터연산

In [104]:
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [107]:
df['fare']*24

0       174.0000
1      1710.7992
2       190.2000
3      1274.4000
4       193.2000
         ...
886     312.0000
887     720.0000
888     562.8000
889     720.0000
890     186.0000
Name: fare, Length: 891, dtype: float64

In [120]:
#누락값 개수 확인
print(np.count_nonzero(df['deck'].isnull()))
df['deck'].isnull()

688

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: deck, Length: 891, dtype: bool

In [123]:
#누락값 채우기
#누락값: np.nan
df5=df
df5['deck']=df['deck'].fillna(method='pad')
#값, pad, ffill(이전),bfill, backfill(이후)
df5['deck'].head(10)

0    NaN
1      C
2      C
3      C
4      C
5      C
6      E
7      E
8      E
9      E
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

누락값 제거

In [134]:
print(df['deck'].dropna()) #열 기준으로 하려면 axis=1
#how='all' 모든 값이 결측값인 행
#thresh=2 결측값이 2 이상인 행

1      C
3      C
6      E
10     G
11     C
      ..
871    D
872    B
879    C
887    B
889    C
Name: deck, Length: 203, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

누락값 연산

In [143]:
df6 = pd.DataFrame({'X': [1,None,3,4,5], 
                   'Y': [1, None, 3,None,5], 
                   'Z': [3,4,5,6,3]})
print(df6)
df6.sum(skipna=True)

     X    Y  Z
0  1.0  1.0  3
1  NaN  NaN  4
2  3.0  3.0  5
3  4.0  NaN  6
4  5.0  5.0  3

X    13.0
Y     9.0
Z    21.0
dtype: float64

필터

In [151]:
filter1=df['pclass']==1
filter2=df['age']>=30
df.where(filter1&filter2,inplace=True)
df.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive alone
0       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN
1       1.0     1.0  female  38.0  ...     C    Cherbourg    yes   0.0
2       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN
3       1.0     1.0  female  35.0  ...     C  Southampton    yes   0.0
4       NaN     NaN     NaN   NaN  ...   NaN          NaN    NaN   NaN

[5 rows x 15 columns]