<a href="https://colab.research.google.com/github/lattehauma/-/blob/main/%EC%95%84%EC%A7%81%EB%8F%84_%EC%8A%B5%EB%93%9D%EC%9D%B4_%EC%95%88%EB%90%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=[2,3,4,53]
list1.remove(53)
print(list1)

[2, 3, 4]

In [ ]:
#list의 순서값과 내용을 모두 출력하는 enumerate 함수
mu=['kwangho','soho','eunsung']
for i, name in enumerate(mu):
  print('{}번째는 {}'.format(i+1, name))

1번째는 kwagho
2번째는 soho
3번째는 eunsung

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
import datetime
print(datetime.date.today())
print(datetime.datetime.now())
now=datetime.datetime.now()
print(now.hour)
print(datetime.datetime.now().second)

2022-09-07
2022-09-07 02:05:18.591920
2
18

In [ ]:
import datetime

hundred_after = datetime.datetime.now().replace(hour=9, minute=0, second=0)+datetime.timedelta(days=100)

print("{}/{}/{}  {}:{}:{}".format(hundred_after.year,hundred_after.month, hundred_after.day, hundred_after.hour, hundred_after.minute, hundred_after.second))

2022/12/16  9:0:0

In [ ]:
import random
print(random.choice(mu))
print(random.randint(1,10))

eunsung
1
None

In [ ]:
from random import shuffle
shuffle(mu)
print(mu)

['soho', 'eunsung', 'kwagho']

In [ ]:
#딕셔너리
cast={'라이토':1,'엘':2,'미사':3}
print(cast)
print(cast['라이토'])

{'라이토': 1, '엘': 2, '미사': 3}
1

In [ ]:
for i in cast.keys():
  print(i)
for i in cast.values():
  print(i)
for i,j in cast.items():
  print('{}는 {}번쨰 이다'.format(i,j))

라이토
엘
미사
1
2
3
라이토는 1번쨰 이다
엘는 2번쨰 이다
미사는 3번쨰 이다

In [ ]:
cast.clear()
print(cast)

{}

In [ ]:
death={'노트':1,'칼':2,'총':3}
cast.update(death)
print(cast)

{'노트': 1, '칼': 2, '총': 3}

In [ ]:
for i in death.items():
  print('{}는 {}개 필요하다'.format(*i))

노트는 1개 필요하다
칼는 2개 필요하다
총는 3개 필요하다

튜플데이터

In [ ]:
t1=(3,4,5)
a,b,c=t1
a,c=b,c
print(a,b,c)

4 4 5

In [ ]:
#try except
try: a=3/0
except Exception as ex:
  print('잘못된 계산입니다: {}'.format(ex))

잘못된 계산입니다: division by zero

In [ ]:
try:
  for i, j in death.items():
    if '칼' in i:
      print('칼이있다')
      raise StopIteration
except StopIteration:
  print('정상종료')

칼이있다
정상종료

리스트

In [ ]:
list1=['홍','윤','고','김','이']
list1.index('윤')

1

In [ ]:
list1.insert(5,'최')
list1.sort()
print(list1)
list1.reverse()
print(list1)

['고', '김', '윤', '이', '최', '홍']
['홍', '최', '이', '윤', '김', '고']

단어 저장

In [ ]:
word='배가,고프,것,같기,도,하고,잘,모르,겠다'
#Split 단어 나누기(스페이스 바도 활용 가능함)
word=word.split(',')
i=word.index('모르')
word[i]='알'
#Join(괄호 기준으로 글자를 결합)
new_word=','.join(word)
print(new_word)

배가,고프,것,같기,도,하고,잘,알,겠다

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list1[2:9:2]

[3, 5, 7, 9]

In [ ]:
#데이터 타입 파악하기
print(type(list1))
print(isinstance(list1,tuple))

<class 'list'>
False

In [ ]:
list1=['광호','소호','재웅','형균']
list2=['홍','윤','최','조']
mu={x:y for x,y in zip(list1,list2)}
print(mu)

{'광호': '홍', '소호': '윤', '재웅': '최', '형균': '조'}

In [ ]:
a=7; b=3
print(*divmod(a,b))
#*: 튜플 형태를 unpacking 해주는 함수
#divmod 몫과 나머지를 튜플 형태로 출력하는 함수

3 5

In [ ]:
num = '3212'
base=5

answer = 0
for idx, number in enumerate(num[::-1]):
    answer += int(number) * (base ** idx)

## enumerate는 위치랑 내용을 같이 출력하는 함수

#>> 다른 방법으로 해결 <<
#pyhton은 진법 변환을 지원한다
answer=int(num,base)
print(answer)

432

In [ ]:
##공백을 채우는 방법
s = '가나다라'
n = 7

print(s.ljust(n)) # 좌측 정렬
print(s.center(n)) # 가운데 정렬
print(s.rjust(n)) # 우측 정렬

'   가나다라'

In [ ]:
##원본을 유지한 채로 정렬하기
list1=[3,5,6,1,2]
list2=sorted(list1)
print(list1)
print(list2)

[3, 5, 6, 1, 2]
[1, 2, 3, 5, 6]

In [ ]:
### python Zip 내장함수

#양측의 데이터를 자동으로 짝지어주는 함수
first=['홍','윤','최','조']
last=['광호','소호','재웅','형균']
list1=list(zip(first,last))
print(list1)
#unpacking
a, b=zip(*list1)
print(a,b)

#길이가 같지 않은 경우 나머지 데이터는 버려진다

#딕셔너리도 활용할 수 있음
answer=dict(zip(first,last))
print(answer)

[('홍', '광호'), ('윤', '소호'), ('최', '재웅'), ('조', '형균')]
('홍', '윤', '최', '조') ('광호', '소호', '재웅', '형균')
{'홍': '광호', '윤': '소호', '최': '재웅', '조': '형균'}

In [ ]:
### map 함수 (map(함수, 개체))
# 개체를 함수를 활용하여 변환할 수 있음

mylist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = list(map(list, zip(*mylist)))
#unpack했다가 다시 list로 묶어냄 
print(new_list)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
### str 활용하기
list1=['ny','zt','oi']
answer=''.join(list1)
print(answer)

nyztoi

In [ ]:
## 곱집합 구하기
import itertools

a='ABCD'
b='xy'
c='1234'
print(list(itertools.product(a,b,c)))

[('A', 'x', '1'), ('A', 'x', '2'), ('A', 'x', '3'), ('A', 'x', '4'), ('A', 'y', '1'), ('A', 'y', '2'), ('A', 'y', '3'), ('A', 'y', '4'), ('B', 'x', '1'), ('B', 'x', '2'), ('B', 'x', '3'), ('B', 'x', '4'), ('B', 'y', '1'), ('B', 'y', '2'), ('B', 'y', '3'), ('B', 'y', '4'), ('C', 'x', '1'), ('C', 'x', '2'), ('C', 'x', '3'), ('C', 'x', '4'), ('C', 'y', '1'), ('C', 'y', '2'), ('C', 'y', '3'), ('C', 'y', '4'), ('D', 'x', '1'), ('D', 'x', '2'), ('D', 'x', '3'), ('D', 'x', '4'), ('D', 'y', '1'), ('D', 'y', '2'), ('D', 'y', '3'), ('D', 'y', '4')]

In [ ]:
#### 순열 함수
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 순열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 순열 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

In [ ]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 3))

3